<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DublinBikes{% endblock %}</title>
    <!--<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> DONT KNOW WHAT THIS IS BUT IT SLOWS EVERYTHING DOWN--> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
    <!--<script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script> NOT SURE IF NECESSARY?-->
    <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
    <script src="../static/js/forecast.js" type="text/javascript"></script>

</head>
<body>
    <div id="page">
    <div id="head">
        <header>
            <h1>Bike Locator Dublin</h1>
            <img src="{{ url_for('static', filename='images/bike.jpeg') }}" alt="Bike Image">
        </header>
        
        <nav>
            <ul>
                <li><a href="/map">FIND A BIKE</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/aboutus">ABOUT US</a></li>
                <li id="weatherIcon"><button onclick="openForecast()"></button></li>
            </ul>
        </nav>
    </div>

    <map>
        {% block map %}
        {% endblock %}
    </map>
    {% block content %}
    {% endblock %}
</div>
</body>
<script src="../static/js/iconLoad.js"></script> <!--Google maps API key is restriced to our site for so its fine to keep it public. Will be displayed in the browser console anyway.-->
<script defer id="loadGmaps"></script>
<script>
    let api_key = environment.GMAPS_API_KEY;
    let url = `https://maps.googleapis.com/maps/api/js?key=${api_key}&loading=async&libraries=places&callback=initMap`;
    document.getElementById('loadGmaps').src = url;
</script>
</html>

