<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DublinBikes{% endblock %}</title>
    <!--<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> DONT KNOW WHAT THIS IS BUT IT SLOWS EVERYTHING DOWN--> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>

</head>
<body>
    <div id="head">
        <header>
            <h1>Bike Locator Dublin</h1>
            <img src="{{ url_for('static', filename='images/bike.jpeg') }}" alt="Bike Image">
        </header>
        
        <nav>
            <ul>
                <li><a href="/map">FIND A BIKE</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/aboutus">ABOUT US</a></li>
                <li id="weatherIcon"><button onclick="openForecast()"></button></li>
            </ul>
        </nav>
    </div>

    <map>
        {% block map %}
        {% endblock %}
    </map>
    {% block content %}
    {% endblock %}
    
</body>
<script src="../static/js/iconLoad.js"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdoZN5073jaF1EPmKvjqpi6Y2ZYbHW52Y&loading=async&libraries=places&callback=initMap"></script>
</html>

