<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    {% endblock %}
    
</head>
<body>
    <div id="head">
        <header>
            <h1>Bike Locator Dublin</h1>
            <img src="{{ url_for('static', filename='images/bike.jpeg') }}" alt="Bike Image">
            <!-- Add any common header elements here -->
        </header>
        
        <nav>
            <ul>
                <li><a href="/map">ENTER</a></li>
                <!-- Add any common navigation links here -->
            </ul>
        </nav>
    </div>
</body>
<!--Google Maps API key is restricted to our site so this is fine-->
<script defer id="loadmaps"async defer></script>
<script>
    let api_key = environment.GMAPS_API_KEY;
    let url = `https://maps.googleapis.com/maps/api/js?key=${api_key}&callback=initMap`;
    document.getElementById('loadmaps').src = url;
</script>
</html>
