{% extends 'base.html' %}

{% block title %}Map - DublinBikes{% endblock %}

{% block map %}
<h1>The map</h1>
<div id="map"></div>
<script>
    // Define a JavaScript variable and embed the data
    var stations = {{ data|tojson }};

    max = 0

    stations.forEach(station => {if (station.bikes > max) {max = station.bikes}})

    async function initMap() {

    const dublin = { lat: 53.3476326, lng: -6.266265 };
  
    const { Map, InfoWindow } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker");
  
    const map = new Map(document.getElementById("map"), {
        zoom: 14,
        center: dublin,
        mapId: "DEMO_MAP_ID",
    });

    const infoWindow = new InfoWindow();

    try {
        stations.forEach(station => {
            // Add marker to the map
            pin_scale = (station.bikes)/max + 0.5   
            
            if (station.status === "OPEN" && station.bikes > 0) {
                c = "#50C878";
                bg = "#137333";
            } else {
                c = "#FF5733";
                bg = "#731313";
            }

            const customPin = new PinElement({
                background: c,
                scale: pin_scale,
                borderColor: bg,
                glyph: String(station.bikes),
                });

            var marker = new AdvancedMarkerElement({
                        map,
                        position: {lat: station.lat, lng: station.lng},
                        title: station.name,
                        content: customPin.element,
                    });

            // Marker click listener (Display title)
            marker.addListener("click", ({ domEvent, latLng }) => {
                const { target } = domEvent;
                infoWindow.close();
                infoWindow.setContent(marker.title);
                infoWindow.open(marker.map, marker);
            });
        });
    } catch (error) {
        console.error('Error fetching data', error);
    }
}

</script>
{% endblock %}
