
.welcome-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    display: block;
    align-items: center;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: white;
    width: 65%;
    margin-top: 10vh;
    text-align: justify;
    border: 1px solid black;
    font-size: 18px;
    height: 60vh;
    overflow-y: auto;
    justify-content: center;
}



.welcome-container img {
    height: auto;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: auto;
}

