body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}
.container {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
h1 {
    color: #50c17d;
}
p {
    line-height: 1.6;
}
.weather-detail {
    background-color: #50c17d;
    color: #ffffff;
    padding: 10px;
    margin: 20px 0;
    border-radius: 8px;
}

#current-weather {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #50c17d;
    color: #ffffff;
    padding: 10px;
    margin: 20px 0;
    border-radius: 8px;
}

#current-icon img {
    width: 70px;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #04AA6D;
    color: white;
}

tr:nth-child(even) {
    background-color: #04aa6d81;
}
tr:nth-child(odd) {
    background-color: #04aa6d2e;
}
