
:root {
    --open-station: #50C878;
    --closed-station: #FF5733;
}
#container {
  width: 100%;
  height: 100%;
  position: relative;
}
#searchbar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index:99;  
}
#searchbox {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15pt;
  height:30px;
  width:300px;
  padding:5px;
  padding-left: 10px;
  border-radius: 20px;
}
.number {
  display:none;
}
.opencircle, .closedcircle {
    align-items: center;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    font: Arial, sans-serif;
}
#origin, #destination {
  background-color: #FFFFFF;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
/* Subheadings */
h2 {
  text-align: center;
  font-weight: 600; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
  color: white;
  box-sizing: border-box;
  display: block;
}
#JourneyBox {
  padding: 10px;
  background-color: #04AA6D;
  border: 1px solid black;
  border-radius: 8px;
  margin: 40px auto;
  width: 95%;
}

#JourneyPlanner {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 8px;
  font-weight: bold;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  padding: 20px; 

  color: white;
}

#JourneyPlanner label {
  margin: 0 5px;
  white-space: nowrap;
}

#JourneyPlanner input[type="text"],
#JourneyPlanner input[type="datetime-local"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px 5px; 
  flex-grow: 1;
  background-color: #f2f2f2;
}

/* Buttons */
#JourneyPlanner button {
  padding: 10px 20px;
  border: 1px black solid;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 10px 5px; /* Adjusted for alignment */
  flex-basis: 100%; /* Forces new line in flex container */
  text-align: center; /* Ensures text is centered within the button */
}

#testroutebutton {
  background-color: #50c17d;
  color: white;
  flex-basis: auto; 
}

#clearinputs {
  background-color: #f44336;
  color: white;
  width: auto; 
}

#JourneyPlanner button:hover {
  opacity: 0.8;
}

/* Adjustments for smaller screens and wrapping behavior */
@media (max-width: 768px) {
  #JourneyPlanner {
      flex-direction: column;
      justify-content: center;
  }

  #JourneyPlanner label, #JourneyPlanner input, #JourneyPlanner button {
      width: 100%;
      margin: 10px 0; 
  }

  #JourneyPlanner button {
      margin-left: 0;
      width: fit-content;
      align-self: center;
  }
}

.station {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #263238;
    display: flex;
    font-size: 14px;
    gap: 15px;
    height: 30px;
    justify-content: center;
    padding: 4px;
    position: relative;
    position: relative;
    transition: all 0.3s ease-out;
    width: 30px;
  }
  
  .station::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #FFFFFF;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 95%;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-out;
    width: 0;
    z-index: 1;
  }

  .station .details {
    display: none;
    flex-direction: column;
    flex: 1;
  }
  
  .station .status {
    color: black;
    font-size: 10px;
    margin-top: 5px;
  }

  .station .card {
    color: black;
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .station .features {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .station .features > div {
    align-items: center;
    background: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    font-size: 10px;
    gap: 5px;
    padding: 5px;
  }
  
  /*
   * Property styles in highlighted state.
   */
  .station.highlight {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: 100%;
    padding: 8px 15px;
    width: auto;
  }
  
  .station.highlight::after {
    border-top: 9px solid #FFFFFF;
  }
  
  .station.highlight .details {
    display: flex;
  }

  .station.highlight .opencircle {
    width: 50px;
    height: 50px;
    font-size: 40px;
  }

  .station.highlight .closedcircle {
    width: 50px;
    height: 50px;
    font-size: 40px;
  }
  
  .station .bike {
    color: #FFA000;
  }
  
  .station .battery {
    color: #03A9F4;
  }
  
  .station .parking {
    color: #388E3C;
  }

  .station.highlight:has(.opencircle) .opencircle {
    color: var(--open-station);
  }
  
  .station:not(.highlight):has(.opencircle) {
    background-color: var(--open-station);
  }
  
  .station:not(.highlight):has(.opencircle)::after {
    border-top: 9px solid var(--open-station);
  }

  .station.highlight:has(.closedcircle) .closedcircle {
    color: var(--closed-station);
  }
  
  .station:not(.highlight):has(.closedcircle) {
    background-color: var(--closed-station);
  }
  
  .station:not(.highlight):has(.closedcircle)::after {
    border-top: 9px solid var(--closed-station);
  }

  .details-btn {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 5px 16px;
    margin: 5px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  /* predictions section */

  /* Tables */

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #04AA6D;
    color: white;
}

tr:nth-child(even) {
    background-color: #04aa6d81;
}
tr:nth-child(odd) {
    background-color: #45b28a;
}

/* Sidebar */
#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000; /* Increased z-index for higher priority on the page */
  top: 0;
  left: 0;
  background-color: #026642; /* Slightly lighter black for soft aesthetics */
  overflow-x: hidden;
  padding-top: 20px;
  transition: width 0.5s ease-in-out;
  color: #fff;
}

.sidebar-content {
  padding: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

.map {
  height: 100%;
  overflow: hidden;
  margin-left: 0;
  transition: margin-left 0.5s ease-in-out;
}

.collapse-btn, #closeSidebar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 8px 8px;
  margin: 5px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}

.collapse-btn:hover, #closeSidebar:hover {
  background-color: #9ab5ab; 
}

.collapsed #sidebar {
  width: 0;
}

.collapsed #map {
  margin-left: 0;
}

#closeSidebar {
  background-color: #f44336; /* Bright red for clear action */
  margin-right: 10px;
}

#closeSidebar:hover {
  background-color: #d32f2f; /* Darker red on hover */
}


.legend-color {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 5px;
}

.historical-color {
  background-color: blue;
}

.predictive-color {
  background-color: yellow;
}

.flatpickr-day.historical {
  background-color: blue;
  color: white;
}

.flatpickr-day.predictive {
  background-color: yellow;
  color: black;
}

.flatpickr-day.disabled {
  background: #f3f3f3;
  color: #ccc;
  cursor: not-allowed;
}
